# --- Operating system ---
.DS_Store

# --- Eclipse ---
.metadata/
.project
.classpath
.settings/

# --- Artefactos de compilación ---
bin/
target/
build/

# --- Archivos temporales y de logs ---
*.log
*.tmp

# --- Dependencias (si usas Maven/Gradle) ---
# Para Maven
# !/pom.xml
# /target/

# Para Gradle
# !/build.gradle
# !/settings.gradle
# /build/

# --- Archivos generados ---
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.log

# --- virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml ---
hs_err_pid*
replay_pid*
